<h1 class="about">About Friends App</h1>

<p class="about-text"> Friends App is an app that allow you to keep record of as many friends as you have in one place on the web.</p>

<p class="about-text">Sign up now and start keeping record of your numerous friends.</p>

<br/>
<%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-primary" %>
<br/>
<br/>